[include shell_command.cfg]
[include mainsail.cfg]
#[include generic-bigtreetech-xxx.cfg]
[include macros.cfg]
[include stealthburner_leds.cfg]
[include screen.cfg]
[include nevermore.cfg]


[mcu]
#serial: /dev/serial/by-id/usb_serial_1
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_2800120012504B5735313920-if00
restart_method: command

[mcu host]
serial: /tmp/klipper_host_mcu

[mcu expander]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_35002100144330534E373720-if00


[display_status]
[pause_resume]



[adxl345] #BTT PI
cs_pin: host:gpio67
spi_bus: spidev0.0
#axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
accel_per_hz: 70 
probe_points: 117.5,117.5,10

[input_shaper]
shaper_freq_x = 46
shaper_freq_y = 35
shaper_type = mzv



#[heater_fan Nevermore]
# left side filter
#pin: PB15
#heater: heater_bed
#heater_temp: 95
#fan_speed: 0.6


[output_pin Chamber_Lights]
pin: expander:PA3
value: 1
#   The value to initially set the pin to during MCU configuration.
#   The default is 0 (for low voltage).
shutdown_value: 0



[printer]
kinematics: corexz
max_velocity: 300
max_accel: 4750
max_accel_to_decel: 2375
max_z_velocity: 100
max_z_accel: 1000
square_corner_velocity: 5.0






[output_pin toolhead_LEDs]
#GND for toolhead LEDs
pin: expander:PA2
static_value: 1


[temperature_sensor chamber]
#T1 on klipper expander
#sensor_type: NTC 100K MGB18-104F39050L32
sensor_type: Generic 3950
sensor_pin: expander:PA5
gcode_id: temperature_sensor chamber


[delayed_gcode bed_mesh_init]
initial_duration: .01
gcode:
  BED_MESH_PROFILE LOAD=default



#####################################################################
# 	X Stepper Settings
#####################################################################

######
# Motor -XM
# Endstop - X-STOP
###############
[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
rotation_distance: 40
microsteps: 16
endstop_pin: ^PC0
position_endstop: 0
position_min: 0
position_max: 217
homing_speed: 40
#homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.5
interpolate: False
#stealthchop_threshold: 250

#####################################################################
#   Y Stepper Settings
#####################################################################

######
# Motor -YM
# Endstop - Y-STOP
###############
[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
rotation_distance: 40
full_steps_per_rotation: 200
microsteps: 32
## Ucomment one of the following:
## Switch-based endstop for Y
endstop_pin: ^PC1 
## Sensorless endstop for Y
#endstop_pin: tmc2209_stepper_y:virtual_endstop
#homing_retract_dist: 0 # Uncomment this line too
position_endstop: 0
position_min: 0
position_max: 220
homing_speed: 70
#homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.5
interpolate: False
stealthchop_threshold: 0
## Uncomment if using sensorless Y homing.
#driver_SGTHRS: 120 # tune this once it's working.


#####################################################################
# 	Z Stepper Settings
#####################################################################

######
# Motor -ZAM
# Endstop - Z-STOP
###############
[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 40
endstop_pin: probe:z_virtual_endstop
position_max: 220
homing_speed: 40
position_min: -3.0

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.5
interpolate: False
#stealthchop_threshold: 250


#####################################################################
#   Extruder Settings
#####################################################################

######
#Motor - EM
###############
[extruder]
# E0_STEP_PIN        PB3
# E0_DIR_PIN         PB4
# E0_ENABLE_PIN      PB1
# E0_UART_RX         PC11
# E0_UART_TX         PC10
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
#rotation_distance: 22.6789511   #Bondtech 5mm Drive Gears
rotation_distance: 21.348122706267
##  Update Gear Ratio depending on your Extruder Type
##  Use 50:10 for Stealthburner/Clockwork 2
##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##  Use 80:20 for M4, M3.1
gear_ratio: 50:10
microsteps: 32
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: PC8
##  Validate the following thermistor type to make sure it is correct
##  See https://www.klipper3d.org/Config_Reference.html#common-thermistors for additional options
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PA0
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721
#Set appropriate once tuning your printer
#pressure_advance: .05
##	Default is 0.040, leave stock
# pressure_advance_smooth_time: 0.040
max_extrude_only_distance: 100.0

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.7
hold_current: 0.3
interpolate: False


#####################################################################
# 	Probe
#####################################################################

######
#Z Max Connector on Z(main) Board
#Inductive Probe
###############
[probe]
##      If your probe is NO instead of NC, add change pin to !z:P1.24
pin: ^PA1
x_offset: 0
y_offset: 25
#z_offset: 0
samples: 3
samples_result: median
sample_retract_dist: 3
samples_tolerance: 0.01
samples_tolerance_retries: 5


#####################################################################
#   Homing and Bed Mesh
#####################################################################
[homing_override]
axes: z
set_position_z: 0
gcode:
    G90
    G0 Z5 F500
    G28 X0 Y0
    G0 X110 Y110 F9000
    G28 Z0
    G0 Z5 F500

[bed_mesh]
speed: 150
horizontal_move_z: 5
mesh_min: 0,50
mesh_max: 215,215
probe_count: 7,7
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0


[idle_timeout]
timeout: 172800



[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
#control: pid
# tuned for stock hardware with 50 degree Celsius target
#pid_Kp: 67.104
#pid_Ki: 0.544
#pid_Kd: 2068.466
min_temp: 0
max_temp: 130


#####################################################################
# 	Fan Control
#####################################################################

######
# Electronics Fan
# FAN1 Connector
###############
[controller_fan my_controller_fan]
pin: PC6
max_power: 0.10
kick_start_time: 0.200
heater: heater_bed


### Uncomment to use BTT PI Fan Port
#[temperature_fan BTT_pi]
#pin: host:gpio211
#kick_start_time: 0.8
#off_below: 0.1
#max_power: 1.0
#sensor_type: temperature_host
#control: pid
#min_temp: 0
#max_temp: 85
#pid_kp: 1.0
#pid_ki: 0.5
#pid_kd: 2.0
#min_speed: 0.1
#max_speed: 0.6
#target_temp: 38

######
# Hot End Fan
# FAN2 Connector
###############
[heater_fan extruder_fan]
pin: expander:PA0
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
fan_speed: 0.5

######
# Part Cooling Fan
# FAN0 Connector
###############
[fan]
pin: expander:PA1
cycle_time: .08
max_power: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
kick_start_time: .25
shutdown_speed: 0




[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

[exclude_object]



[screws_tilt_adjust]
screw2:55,70
screw2_name: Front Left
screw1:221,70
screw1_name: Front Right
screw3:221,230
screw3_name: Back Right
screw4:55,230
screw4_name: Back Left
horizontal_move_z: 10
speed: 200
screw_thread: CW-M4 #use CW for clockwise and CCW for counterclockwise

[gcode_arcs]
resolution: 0.1

[include timelapse.cfg]






# [delayed_gcode AUTOSTART]
# initial_duration: 1
# gcode:
#   TURN_ON_MOTORS





# [output_pin my_led]
# pin: PB12
#   The pin to configure as an output. This parameter must be
#   provided.
#pwm: False
#   Set if the output pin should be capable of pulse-width-modulation.
#   If this is true, the value fields should be between 0 and 1; if it
#   is false the value fields should be either 0 or 1. The default is
#   False.
#static_value:
#   If this is set, then the pin is assigned to this value at startup
#   and the pin can not be changed during runtime. A static pin uses
#   slightly less ram in the micro-controller. The default is to use
#   runtime configuration of pins.
#value:
#   The value to initially set the pin to during MCU configuration.
#   The default is 0 (for low voltage).
#shutdown_value:
#   The value to set the pin to on an MCU shutdown event. The default
#   is 0 (for low voltage).
#maximum_mcu_duration:
#   The maximum duration a non-shutdown value may be driven by the MCU
#   without an acknowledge from the host.
#   If host can not keep up with an update, the MCU will shutdown
#   and set all pins to their respective shutdown values.
#   Default: 0 (disabled)
#   Usual values are around 5 seconds.
#cycle_time: 0.100
#   The amount of time (in seconds) per PWM cycle. It is recommended
#   this be 10 milliseconds or greater when using software based PWM.
#   The default is 0.100 seconds for pwm pins.
#hardware_pwm: False
#   Enable this to use hardware PWM instead of software PWM. When
#   using hardware PWM the actual cycle time is constrained by the
#   implementation and may be significantly different than the
#   requested cycle_time. The default is False.
#scale:
#   This parameter can be used to alter how the 'value' and
#   'shutdown_value' parameters are interpreted for pwm pins. If
#   provided, then the 'value' parameter should be between 0.0 and
#   'scale'. This may be useful when configuring a PWM pin that
#   controls a stepper voltage reference. The 'scale' can be set to
#   the equivalent stepper amperage if the PWM were fully enabled, and
#   then the 'value' parameter can be specified using the desired
#   amperage for the stepper. The default is to not scale the 'value'
#   parameter.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.806
#*# pid_ki = 2.112
#*# pid_kd = 61.576
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 75.935
#*# pid_ki = 1.587
#*# pid_kd = 908.376
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_type_y = ei
#*#
#*# [probe]
#*# z_offset = 0.132
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.037500, -0.068750, -0.156250, -0.212500, -0.268750, -0.325000, -0.331250
#*# 	0.125000, 0.031250, -0.050000, -0.118750, -0.193750, -0.237500, -0.281250
#*# 	0.212500, 0.106250, 0.012500, -0.056250, -0.106250, -0.162500, -0.193750
#*# 	0.337500, 0.231250, 0.143750, 0.068750, -0.018750, -0.075000, -0.131250
#*# 	0.450000, 0.331250, 0.250000, 0.168750, 0.093750, 0.025000, 0.006250
#*# 	0.625000, 0.518750, 0.412500, 0.312500, 0.243750, 0.175000, 0.118750
#*# 	0.837500, 0.693750, 0.575000, 0.481250, 0.406250, 0.337500, 0.293750
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 0.0
#*# max_x = 214.98
#*# min_y = 50.0
#*# max_y = 215.0
